In [27]:
import pandas as pd

df = pd.read_csv(
    'Donnees/sante/donnees_utils/pathologie_effectifs_en_fnct_des_régions.csv', 
    sep=';',  
    engine='python' 
)

In [28]:
df = pd.read_csv(
    'Donnees/sante/donnees_utils/pathologie_effectifs_en_fnct_des_régions.csv'
)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748226 entries, 0 to 2748225
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   annee                   int64
 2   patho_niv1              object
 3   patho_niv2              object
 4   patho_niv3              object
 5   top                     object
 6   cla_age_5               object
 7   sexe                    int64
 8   region                  int64
 9   dept                    int64
 10  Ntop                    float64
 11  Npop                    int64
 12  prev                    float64
 13  libelle_classe_age      object
 14  libelle_sexe            object
 15  tri                     float64
 16  Niveau_prioritaire_num  int64
dtypes: float64(3), int64(7), object(7)
memory usage: 356.4+ MB

In [30]:
df['patho_niv1'].unique()

array(['Maladies inflammatoires ou rares ou infection VIH',
       'Maladies neurologiques', 'Maladies psychiatriques',
       'Pas de pathologie repérée, traitement, maternité, hospitalisation ou traitement antalgique ou anti-inflammatoire',
       'Traitements du risque vasculaire (hors pathologies)',
       'Traitements psychotropes (hors pathologies)',
       'Maladies cardioneurovasculaires',
       'Maladies respiratoires chroniques (hors mucoviscidose)',
       'Traitements antalgiques ou anti-inflammatoires (hors pathologies, traitements, maternité ou hospitalisations)',
       'Maladies du foie ou du pancréas (hors mucoviscidose)',
       'Maternité (avec ou sans pathologies)',
       'Insuffisance rénale chronique terminale',
       'Hospitalisations hors pathologies repérées (avec ou sans pathologies, traitements ou maternité)',
       'Cancers', 'Diabète',
       "Affections de longue durée (dont 31 et 32) pour d'autres causes",
       'Hospitalisation pour Covid-19'], dtype=object)

In [31]:
df['patho_niv2'].unique()

array(['Maladies rares', 'Autres affections neurologiques',
       'Autres troubles psychiatriques', 'Déficience mentale',
       'Pas de pathologie repérée, traitement, maternité, hospitalisation ou traitement antalgique ou anti-inflammatoire',
       'Traitements antihypertenseurs (hors pathologies)',
       'Traitements antidépresseurs ou thymorégulateurs (hors pathologies)',
       'Traitements anxiolytiques (hors pathologies)',
       'Infection par le VIH',
       'Traitements hypolipémiants (hors pathologies)',
       'Troubles addictifs', "Troubles névrotiques et de l'humeur",
       "Troubles psychiatriques débutant dans l'enfance",
       'Troubles psychotiques', 'Maladies inflammatoires chroniques',
       'Maladie coronaire', 'Maladie valvulaire',
       'Insuffisance cardiaque', 'Artériopathie périphérique',
       'Autres affections cardiovasculaires',
       "Démences (dont maladie d'Alzheimer)", 'Lésion médullaire',
       'Sclérose en plaques', 'Épilepsie', 'Maladie de Parkinson',
       'Myopathie ou myasthénie', 'Embolie pulmonaire',
       'Maladies respiratoires chroniques (hors mucoviscidose)',
       'Traitements antalgiques ou anti-inflammatoires (hors pathologies, traitements, maternité ou hospitalisations)',
       'Maladies du foie ou du pancréas (hors mucoviscidose)',
       'Maternité (avec ou sans pathologies)',
       'Traitements hypnotiques (hors pathologies)',
       'Traitements neuroleptiques (hors pathologies)',
       'Accident vasculaire cérébral', 'Transplantation rénale',
       'Hospitalisations hors pathologies repérées (avec ou sans pathologies, traitements ou maternité)',
       'Cancer du sein de la femme', 'Diabète', 'Cancer de la prostate',
       'Cancer colorectal', 'Dialyse chronique',
       'Suivi de transplantation rénale',
       "Affections de longue durée (dont 31 et 32) pour d'autres causes",
       'Autres cancers',
       'Troubles du rythme ou de la conduction cardiaque',
       'Cancer bronchopulmonaire', 'Hospitalisation pour Covid-19'],
      dtype=object)

In [32]:
df.head()

,Unnamed: 0,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,libelle_classe_age,libelle_sexe,tri,Niveau_prioritaire_num
0,0,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,11,75,150.0,981490,0.015,tous âges,hommes,78.0,3
1,1,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,28,30.0,204050,0.015,tous âges,hommes,78.0,3
2,2,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,999,170.0,1214070,0.014,tous âges,hommes,78.0,3
3,3,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,39,20.0,123680,0.016,tous âges,hommes,78.0,3
4,4,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,71,40.0,259740,0.014,tous âges,hommes,78.0,3

In [33]:
df.isna().sum()

Unnamed: 0                0
annee                     0
patho_niv1                0
patho_niv2                0
patho_niv3                0
top                       0
cla_age_5                 0
sexe                      0
region                    0
dept                      0
Ntop                      0
Npop                      0
prev                      0
libelle_classe_age        0
libelle_sexe              0
tri                       0
Niveau_prioritaire_num    0
dtype: int64

In [34]:
df=df.dropna()

In [35]:
df.isna().sum()

Unnamed: 0                0
annee                     0
patho_niv1                0
patho_niv2                0
patho_niv3                0
top                       0
cla_age_5                 0
sexe                      0
region                    0
dept                      0
Ntop                      0
Npop                      0
prev                      0
libelle_classe_age        0
libelle_sexe              0
tri                       0
Niveau_prioritaire_num    0
dtype: int64

In [36]:
df.head()

,Unnamed: 0,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,libelle_classe_age,libelle_sexe,tri,Niveau_prioritaire_num
0,0,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,11,75,150.0,981490,0.015,tous âges,hommes,78.0,3
1,1,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,28,30.0,204050,0.015,tous âges,hommes,78.0,3
2,2,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,999,170.0,1214070,0.014,tous âges,hommes,78.0,3
3,3,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,39,20.0,123680,0.016,tous âges,hommes,78.0,3
4,4,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,71,40.0,259740,0.014,tous âges,hommes,78.0,3

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748226 entries, 0 to 2748225
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   annee                   int64
 2   patho_niv1              object
 3   patho_niv2              object
 4   patho_niv3              object
 5   top                     object
 6   cla_age_5               object
 7   sexe                    int64
 8   region                  int64
 9   dept                    int64
 10  Ntop                    float64
 11  Npop                    int64
 12  prev                    float64
 13  libelle_classe_age      object
 14  libelle_sexe            object
 15  tri                     float64
 16  Niveau_prioritaire_num  int64
dtypes: float64(3), int64(7), object(7)
memory usage: 356.4+ MB

In [38]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
df['dept'] = pd.to_numeric(df['dept'], errors='coerce')
df.dropna(subset=['dept'], inplace=True)
df['dept'] = df['dept'].astype(int)

In [40]:
df.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,libelle_classe_age,libelle_sexe,tri,Niveau_prioritaire_num
0,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,11,75,150.0,981490,0.015,tous âges,hommes,78.0,3
1,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,28,30.0,204050,0.015,tous âges,hommes,78.0,3
2,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,999,170.0,1214070,0.014,tous âges,hommes,78.0,3
3,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,39,20.0,123680,0.016,tous âges,hommes,78.0,3
4,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,71,40.0,259740,0.014,tous âges,hommes,78.0,3

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748226 entries, 0 to 2748225
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   annee                   int64
 1   patho_niv1              object
 2   patho_niv2              object
 3   patho_niv3              object
 4   top                     object
 5   cla_age_5               object
 6   sexe                    int64
 7   region                  int64
 8   dept                    int32
 9   Ntop                    float64
 10  Npop                    int64
 11  prev                    float64
 12  libelle_classe_age      object
 13  libelle_sexe            object
 14  tri                     float64
 15  Niveau_prioritaire_num  int64
dtypes: float64(3), int32(1), int64(5), object(7)
memory usage: 325.0+ MB

In [42]:

df.reset_index(drop=True, inplace=True)

In [43]:
def extraire_min_priorite(val):
    morceaux = str(val).split(',')
    return min(int(x) for x in morceaux)

df['Niveau_prioritaire_num'] = df['Niveau prioritaire'].apply(extraire_min_priorite)

KeyError: 'Niveau prioritaire'

In [44]:
df.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,libelle_classe_age,libelle_sexe,tri,Niveau_prioritaire_num
0,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,11,75,150.0,981490,0.015,tous âges,hommes,78.0,3
1,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,28,30.0,204050,0.015,tous âges,hommes,78.0,3
2,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,999,170.0,1214070,0.014,tous âges,hommes,78.0,3
3,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,39,20.0,123680,0.016,tous âges,hommes,78.0,3
4,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,71,40.0,259740,0.014,tous âges,hommes,78.0,3

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748226 entries, 0 to 2748225
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   annee                   int64
 1   patho_niv1              object
 2   patho_niv2              object
 3   patho_niv3              object
 4   top                     object
 5   cla_age_5               object
 6   sexe                    int64
 7   region                  int64
 8   dept                    int32
 9   Ntop                    float64
 10  Npop                    int64
 11  prev                    float64
 12  libelle_classe_age      object
 13  libelle_sexe            object
 14  tri                     float64
 15  Niveau_prioritaire_num  int64
dtypes: float64(3), int32(1), int64(5), object(7)
memory usage: 325.0+ MB

In [46]:
df['Niveau_prioritaire_num'].unique()

array([3, 2, 1], dtype=int64)

In [47]:
df.isna().sum()

annee                     0
patho_niv1                0
patho_niv2                0
patho_niv3                0
top                       0
cla_age_5                 0
sexe                      0
region                    0
dept                      0
Ntop                      0
Npop                      0
prev                      0
libelle_classe_age        0
libelle_sexe              0
tri                       0
Niveau_prioritaire_num    0
dtype: int64

In [ ]:
df.drop(columns=['Niveau prioritaire'], inplace=True)

In [48]:
# adapter a votre chemain  
df.to_csv('Donnees/sante/donnees_utils/pathologie_effectifs_en_fnct_des_régions.csv')

In [6]:
import pandas as pd
df=pd.read_csv(
    'Donnees/sante/donnees_utils/pathologie_effectifs_en_fnct_des_régions.csv')

In [8]:
df.head()

,Unnamed: 0,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,libelle_classe_age,libelle_sexe,tri,Niveau_prioritaire_num
0,0,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,11,75,150.0,981490,0.015,tous âges,hommes,78.0,3
1,1,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,28,30.0,204050,0.015,tous âges,hommes,78.0,3
2,2,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,24,999,170.0,1214070,0.014,tous âges,hommes,78.0,3
3,3,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,39,20.0,123680,0.016,tous âges,hommes,78.0,3
4,4,2023,Maladies inflammatoires ou rares ou infection VIH,Maladies rares,Mucoviscidose,RAR_MUC_IND,tsage,1,27,71,40.0,259740,0.014,tous âges,hommes,78.0,3

In [9]:
df['region'].unique()

array([11, 24, 27, 32, 44, 52, 53, 75, 76, 84, 93,  1,  4, 28,  2, 99,  3,
       94,  6], dtype=int64)

In [ ]:
code_region,nom_region
01,Guadeloupe
02,Martinique
03,Guyane
04,La Réunion
06,Mayotte
11,Île-de-France
24,Centre-Val de Loire
27,Bourgogne-Franche-Comté
28,Normandie
32,Hauts-de-France
44,Grand Est
52,Pays de la Loire
53,Bretagne
75,Nouvelle-Aquitaine
76,Occitanie
84,Auvergne-Rhône-Alpes
93,Provence-Alpes-Côte d'Azur
94,Corse